* {
box-sizing: border-box;

}
body
{
  margin:0;
  padding: 2rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.navigationparent
{
  display: flex;
  justify-content: space-around;
  font-size: 1.67rem;
  font-family: 'Raleway', sans-serif;

}

.navigationparent a
{
  color: #7c7c7c;
  text-decoration: none;
}

.navigationparent a:hover{
  text-shadow: 0px 10px 10px #fff;
}

.img-container
{
  display: inline-block;
  width: 42rem;
  height: 22rem;
}

.hero-section
{
  padding-top: 7rem;
  display: flex;
}

.name
{
  font-size: 4rem;
  position: relative;
  font-family: 'Montserrat', sans-serif;
    animation: moveInFromRight 2s;
}

.first, .last
{
  position: absolute;
}
.first
{
  top: -7rem;
  left: -10rem;

}

.btn
{
  font-family: 'Raleway', sans-serif;
  width: 150px;
  height: 45px;
  color: white;
   padding: 10px 2px;
   border-radius: 4px;
  background-color: black;
  border: 1px solid #fff;
  font-size: 1.4rem;

}

.btn:hover {
  background-color: #fff;
  color: black;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '✝';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.hire
{
  text-align: center;
}
.btn-lg {
  cursor: pointer;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 170px;
  right: 210px;

  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 620px;
  height: 48vh;
  padding: 2.5px;
  background-color: white;
  border-radius: 8px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text-mess] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container input[type=text-mess]
{
  height: 17vh;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text-mess]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  cursor: pointer;
}
@keyframes moveInFromRight {

  0%
  {
    transform: translateX(400px) scale(4);
    opacity: 0;
  }

  100%
  {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media only screen and (max-width: 370px) and (max-height: 800px)
{
  .navigationparent
  {
    display:flex;
    justify-content:center;
    margin-left: 1rem;
    font-size: 1.4rem;
    margin-right: -4rem;
  }
  .nav
  {
     padding: 1rem;

  }

  .img-container
  {
  margin-left: -275px;
  text-align: center;
  }
  .hero-section
  {
  display: block;
  }
  .name
  {
  position: inherit;

  }
  .first, .second
  {
  font-size: 5rem;
  position: sticky;
  }
  .form-popup
  {
  bottom: 100px;
  right: 40px;
  }
  .form-container {
  width: 366px;
  max-height: 48vh;

  }


}
@media only screen and (max-width: 900px) and (max-height: 1400px) {

  .navigationparent
  {
    display:flex;
    justify-content:center;
    font-size: 1.4rem;
    margin-left: -1rem;

  }
  .nav
  {
     padding: 0.5rem;
  }

.img-container
{
 margin-left: -275px;
  text-align: center;
}
.hero-section
{
  display: block;
}
.name
{
  position: inherit;

}
.first, .second
{
  font-size: 5rem;
  position: sticky;
}

.form-popup
{
bottom: 100px;
right: 40px;
}
.form-container {
width: 366px;

}
}
